<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SBA 308A - Web App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/main.css" />
    <script>
      function remove() {
        const id = document.getElementById("id").value;
        const form = document.getElementById("delete-form");
        form.action = `/users/${id}?_method=DELETE`;
      }

      function patch() {
        const id = document.getElementById("patch-id").value;
        const form = document.getElementById("patch-form");
        form.action = `/users/${id}?_method=PATCH`;
      }
    </script>
  </head>
  <body>
    <!-- Navbar -->
    <section id="navbar">
      <div class="logo">
        <a href="#">
          <img id="logo-pic" src="/img/negative-man-pic.png" alt="Logo" />
        </a>
      </div>
      <a href="./" class="page tech-shop">Geek Central</a>
      <a href="./" class="page home-page">Home</a>
      <a href="./about" class="page about-page">About</a>
      <a href="./contact" class="page contact-page">Contact</a>
      <a href="./admin" class="page admin-page">Admin</a>
      <a href="#" class="page login" style="float: right">login </a>
      <a href="#" class="page wishlist" style="float: right"
        >wishlist <i class="fas fa-heart"></i
      ></a>
    </section>

    <!-- main section -->
    <section id="main-section">
      <h1 id="">Admin Page</h1>
    </section>
    <!-- delete section -->
    <section id="delete-container">
      <h1>Delete Item by ID</h1>
      <form id="delete-form" action="#" method="POST" onsubmit="remove()">
        <!-- <input type="hidden" name="_method" value="DELETE" /> -->
        <label for="id">Enter Item ID to delete:</label>
        <input type="number" id="id" name="id" required />
        <button type="submit">Delete by ID</button>
      </form>
    </section>
    <!-- Patch section -->
    <section id="patch-container">
      <h1>Update review by ID</h1>
      <form id="patch-form" action="#" method="POST" onsubmit="patch()">
        <!-- <input type="hidden" name="_method" value="PATCH" /> -->
        <label for="id">Enter Item ID to edit name:</label>
        <input type="number" id="patch-id" name="id" required />
        <div>
          <label for="name">New name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <button type="submit">Edit name by ID</button>
      </form>
    </section>
    <!-- footer -->
    <footer id="my-footer">
      <hr />
      <div class="footer-content">
        <a href="#" class="footer-icon" target="_self"
          ><i class="fab fa-github"></i> </a
        ><a href="#" class="footer-icon" target="_self"
          ><i class="fab fa-linkedin"></i></a
        ><a href="#" class="footer-icon" target="_self"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
      <div id="copy-right">
        <h5>@2024 Shyguy, All rights reserved</h5>
      </div>
    </footer>
    <!-- js links - put here in case -->
  </body>
</html>
